@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  scroll-behavior: smooth;
}
button:focus{
  outline: none !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #000000;
}

body::-webkit-scrollbar-thumb
{
	background-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
